<h1 class="header-text">Airbnb</h1>

<hr>
<div class="header-line">
	Signed in as: <%= current_user.email %>

	<button class="inline-buttons"><%= link_to 'Sign out', sign_out_path, method: :delete %></button>
	<button class="inline-buttons"><%= link_to 'Profile', profile_path, method: :get %></button>
</div>

<hr>

<% if current_user.superadmin? %>
<button><%= link_to 'Add listing', new_listing_path  %></button>
<% end %>


<div>
	<% @view_listing.each do |listing| %>
	<p>Address:</p>
	<h4><%= listing.address %></h4>
	<p>Postcode:</p>
	<h4><%= listing.postcode %></h4>
	<p>States:</p>
	<h5><%= listing.states %></h5>
	<p>Rating:</p>
	<h4><%= listing.ratings %></h4>
	<%= button_to 'View listing', listing_path(listing), method: :get %>
	<%= button_to "Make reservation", new_listing_reservation_path(listing.id), method: :get %>
	<hr>
	<% end %> 
</div>

