<div class="text-field">
  <%= form.label :Email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :Password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :Username %>
  <%= form.text_field :username %>
</div>

<div class="text-field">
  <%= form.label :'First name' %>
  <%= form.text_field :first_name %>
</div>

<div class="text-field">
  <%= form.label :'Last name' %>
  <%= form.text_field :last_name %>
</div>

<div class="text-field">
  <%= form.label :Gender %>
  <%= form.text_field :gender %>
</div>

<div class="text-field">
  <%= form.label :'Phone number' %>
  <%= form.text_field :phone %>
</div>

<div class="text-field">
  <%= form.label :Country %>
  <%= form.text_field :country %>
</div>

<!-- Add in additional fields for new table colums (first name, last name, etc.) -->
