<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div>
        <%= form.submit %>
    </div>

    <div class="other-links">
      <button class="main-page-button"><%= link_to t(".sign_in"), sign_in_path %></button>
    </div>
  <% end %>
</div>
