<div class='profile-head'>
	<h1>Hi <%= current_user.first_name %> !</h1>
	<%= button_to 'Main Page', root_path, method: :get, class: "main-page-button" %>
</div>

<div class="profile-details">
	<h4>Your reservation:</h4>
	<br>
	<% @reservation.each do |show_reservation| %>
		<img src="https://image.flaticon.com/icons/svg/149/149064.svg", class="show-img">
		Address: <strong><%= show_reservation.listing.address %>, <%= show_reservation.listing.postcode %>, <%= show_reservation.listing.city %>, <%= show_reservation.listing.state %></strong>
		<br>
		Check In: <strong><%= show_reservation.check_in_date %></strong>
		<br>
		Check Out: <strong><%= show_reservation.check_out_date %></strong>
		<br>
		Memo: <strong><%= show_reservation.memo %></strong>
		<hr>
	<% end %>
</div>



<%= button_to "Make Payment", braintree_new_path, method: :get, class: "main-page-button" %>